.contact-container {
    background-color: #EE0E7D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 136px 382px;
}

.contact-text {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 32px;
}

.contact-small {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
}

.contact-link {
    font-size: 32px;
    color: #fff;
}